.card-img-top {
    height: 600px;
    object-fit: cover;
}

.card-custom {
    height: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-custom .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-custom .btn {
    margin-top: auto;
}
